<div class="wrapper">
  <div class="container">
    <div class="button-container">
            <button class="red-btn" (click)="assigneeeMaster()">Lead Assignee</button>
            <button class="red-btn-active" (click)="projectMaster()" >Project</button>
            <button class="red-btn" (click)="industryMaster()">Industry Type</button>
        </div>

    <div class="header">
      <!-- Page Header -->
      <div>
        <div class="page-title">
          Projects -
          <span class="count" style="color: #cd1c18;">{{ totalProjects?totalProjects:"0" }}</span>
        </div>
      </div>

      <!-- Toolbar -->
      <div>
        <div class="toolbar">
          <div class="search-box">
            <img src="search.png" alt="Search" class="search-icon" />
            <input
              type="text"
              placeholder="Search project..."
              [(ngModel)]="searchText"
              (input)="onSearch()"
            />
          </div>

          <button class="add-btn" (click)="addproject()">
            <img src="add.png" alt="Add" class="btn-icon" />
            Add
          </button>
        </div>
      </div>
    </div>

    <!-- Table -->
    <div class="table-wrapper">
      <table class="leads-table">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Projects Name</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let project of projects; let i = index" class="clickable-row">
            <td>{{ i + 1 }}</td>
            <td>{{ project.name }}</td>
            <td>
              <span
                class="status"
                [ngClass]="{
                  sucess: project.status === 'Active',
                  danger: project.status === 'Inactive',
                }"
              >
                {{ project.status }}
              </span>
            </td>

            <td class="actions">
              <img
                src="edit.png"
                class="action-icon"
                (click)="editProject(project.id); $event.stopPropagation()"
              />
              <img
                src="delete.png"
                class="action-icon delete"
                (click)="openDeletePopup(project.id); $event.stopPropagation()"
              />
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Delete Confirmation Modal -->
      <div class="modal-backdrop" *ngIf="showDeletePopup">
        <div class="modal">
          <h3>Confirm Delete</h3>
          <p>Are you sure you want to delete this Project?</p>

          <div class="modal-actions">
            <button class="btn cancel" (click)="closeDeletePopup()">No</button>
            <button class="btn delete" (click)="confirmDelete()">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
