<div class="wrapper">
  <!-- HEADER -->
  <div class="container header-container">
    <div class="header">
      <h1>Add Project</h1>
    </div>

    <!-- FORM -->
  <form
    id="projectForm"
    #projectForm="ngForm"
    (ngSubmit)="projectId ? updateProject(projectId) : saveProject()"
  >
    <div class="form-layout single-column">

        <!-- Project Name -->
        <div class="form-group">
          <label>Project Name</label>
          <input
            type="text"
            name="name"
            [(ngModel)]="project.name"
            #name="ngModel"
            required
            minlength="3"
          />

          <div class="error" *ngIf="name.invalid && (name.dirty || name.touched)">
            <small *ngIf="name.errors?.['required']">Name is required</small>
            <small *ngIf="name.errors?.['minlength']">Minimum 3 characters</small>
          </div>
        </div>        

        <!-- Status -->
        <div class="form-group">
          <label>Status</label>
          <select name="status" [(ngModel)]="project.status" required>
            <option value="">Select Status</option>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
          </select>
        </div>
      
    </div>
  </form>

    <!-- ACTIONS -->
    <div class="form-actions">
      <div class="left-action">
        <button type="button" class="btn btn-secondary" (click)="goBack()">← Back</button>
      </div>

      <div class="right-actions">
        <button type="button" class="btn btn-outline" (click)="clearForm()" *ngIf="!projectId">
          Clear
        </button>

        <button
          type="submit"
          form="projectForm"
          class="btn btn-primary"
          [disabled]="projectForm.invalid"
        >
          {{ projectId ? 'Update' : 'Save' }}
        </button>
      </div>
    </div>
  </div>
  
</div>
