<div class="wrapper">
  <!-- HEADER -->
  <div class="container header-container">
    <div class="header">
      <h1>Add Customer</h1>
    </div>

    <!-- ACTIONS BELOW HEADER -->
    <div class="form-actions">
      <button type="button" class="btn back" (click)="goBack()">Back</button>

      <div class="right-actions">
        <button type="button" class="btn clear" (click)="clearForm()" *ngIf="!customerId">Clear</button>
        <button type="submit" form="customerForm" class="btn save" [disabled]="customerForm.invalid">
          {{ customerId ? 'Update' : 'Save' }}
        </button>
      </div>
    </div>
  </div>

  <!-- FORM -->
  <form id="customerForm" #customerForm="ngForm" (ngSubmit)="customerId? updateCustomer(customerId): saveCustomer()">
    <!-- TWO COLUMN LAYOUT -->
    <div class="form-layout">
      <!-- LEFT -->
      <div class="container left-container">
        <h3 class="card-title">Customer Details</h3>

        <div class="form-group">
          <label>First Name</label>
          <input type="text" name="first_name" [(ngModel)]="customer.first_name" #firstName="ngModel" required
            minlength="2" pattern="^[a-zA-Z ]+$" />

          <div class="error" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
            <small *ngIf="firstName.errors?.['required']">First name is required</small>
            <small *ngIf="firstName.errors?.['minlength']">Minimum 2 characters</small>
            <small *ngIf="firstName.errors?.['pattern']">Only letters allowed</small>
          </div>

        </div>

        <div class="grid-2">
          <div class="form-group">
            <label>Last Name</label>



            <input type="text" name="last_name" [(ngModel)]="customer.last_name" required />
          </div>

          <div class="form-group">
            <label>customer Assignee</label>
            <select name="customer_assignee"
            [(ngModel)]="customer.customer_assignee"
            required="">
            <option value="">Select Assignee</option>
            <option *ngFor="let assignees of assignee" [value]="assignees.id">{{assignees.name}}</option>
          </select>
          </div>

          <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" [(ngModel)]="customer.email" #email="ngModel" required
              pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" />

            <div class="error" *ngIf="email.invalid && (email.dirty || email.touched)">
              <small *ngIf="email.errors?.['required']">Email is required</small>
              <small *ngIf="email.errors?.['pattern']">Invalid email format</small>
            </div>


          </div>

          <div class="form-group">
            <label>Mobile</label>
            <input type="text" name="mobile" [(ngModel)]="customer.mobile" #mobile="ngModel" required
              pattern="^[0-9]{10}$" />

            <div class="error" *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)">
              <small *ngIf="mobile.errors?.['required']">Mobile number is required</small>
              <small *ngIf="mobile.errors?.['pattern']">Enter valid 10-digit number</small>
            </div>

          </div>

          <div class="form-group">
            <label>Company Name</label>
            <input type="text" name="company_name" [(ngModel)]="customer.company_name" />
          </div>

          <div class="form-group">
            <label>Industry Type</label>
            <select name="industry_type"
            [(ngModel)]="customer.industry_type"
            required="">
            <option value="">Select Industry Type</option>
            <option *ngFor="let industrys of industry" [value]="industrys.id">{{industrys.name}}</option>
          </select>
          </div>

          <div class="form-group">
            <label>customer Source</label>
            <input type="text" name="customer_source" [(ngModel)]="customer.customer_source" />
          </div>

          <div class="form-group">
            <label>Website</label>
            <input type="text" name="website" [(ngModel)]="customer.website" #website="ngModel" pattern="https?://.+" />

            <div class="error" *ngIf="website.invalid && website.touched">
              <small>Enter valid website URL (http/https)</small>
            </div>

          </div>
        </div>
      </div>

      <!-- RIGHT -->
      <div class="container right-container">
        <h3 class="card-title">Address</h3>

        <div class="grid-2">
          <div class="form-group">
            <label>Door No</label>
            <input type="text" name="door_no" [(ngModel)]="customer.door_no" />
          </div>

          <div class="form-group">
            <label>Street</label>
            <input type="text" name="street" [(ngModel)]="customer.street" />
          </div>

          <div class="form-group">
            <label>City</label>
            <input type="text" name="city" [(ngModel)]="customer.city" />
          </div>

          <div class="form-group">
            <label>State</label>
            <input type="text" name="state" [(ngModel)]="customer.state" />
          </div>

          <div class="form-group">
            <label>Country</label>
            <input type="text" name="country" [(ngModel)]="customer.country" />
          </div>

          <div class="form-group">
            <label>Zip Code</label>
            <input type="text" name="zip_code" [(ngModel)]="customer.zip_code" #zip="ngModel" pattern="^[0-9]{5,6}$" />

            <div class="error" *ngIf="zip.invalid && zip.touched">
              <small>Enter valid zip code</small>
            </div>

          </div>
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea name="description" [(ngModel)]="customer.description" #desc="ngModel" maxlength="250">
</textarea>

          <div class="error" *ngIf="desc.invalid && desc.touched">
            <small>Description max 250 characters</small>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>
